
.move-to{
    display: inline-block;
    background-color: lightblue;
    color:black;
    text-decoration: none;
    padding-left: 27px;
    line-height: 64px;
}

.move-to::after{
    content: '>';
    display: inline-block;
    width: 59px;
    height: 64px;
    background-color: rgb(15, 153, 216);
    text-align: center;
    color: #fff;
    margin-left: 26px;
}