*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom{
    font-size: 22px;
    color: darkmagenta;
    font-family: Tahoma;
    max-width: 300px;
}

.custom::after{
    content: '';
    display: block;
    width: 100px;
    height: 2px;
    background-color: brown;
    margin-top: 10px;
}

/*.custom::first-letter{
    color: aqua;
    font-size: 30px;
}*/

/*.custom::first-line{
    font-weight: 700;
}*/

